{% extends 'base.html' %}

{% block content %}
<h1 class="title text-center">Select a Shuttle</h1>
<form method="POST" action="/login">
    <div class="row">
        <div class="col">
            <div class="dropdown float-left ">
                <select class="form-control" id="exampleFormControlSelect1">
                    {% for mission in mission_list %}
                    <option>{{ mission }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col">
            <div class="dropdown float-right">
                <select class="form-control" id="exampleFormControlSelect2">
                    {% for shuttle in shuttle_list %}
                    <option>{{ shuttle }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="box">
        <div class="row">
            <table class="display table table-responsive" style="border-radius: 10px;" id="shuttle_table">
                <thead>
                <tr>
                    <th >Select</th>
                    <th >Name</th>
                    <th >Manufacturing Year</th>
                    <th >Fuel Capacity</th>
                    <th >Payload Capacity</th>
                    <th >Passenger Capacity</th>
                    <th >Cargo Capacity</th>
                    <th >Travel Speed</th>
                </tr>
                </thead>
                <tbody>
                {% for shuttle_detail in shuttle_details %}
                <tr>
                    <td></td>
                    <td >{{ shuttle_detail.shuttle_name }}</td>
                    <td >{{ shuttle_detail.shuttle_manufacturing_year }}</td>
                    <td >{{ shuttle_detail.shuttle_fuel_capacity }}</td>
                    <td >{{ shuttle_detail.shuttle_payload_capacity }}</td>
                    <td >{{ shuttle_detail.shuttle_passenger_capacity }}</td>
                    <td >{{ shuttle_detail.shuttle_cargo_capacity }}</td>
                    <td >{{ shuttle_detail.shuttle_travel_speed }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row float-right">
        <button type="submit" class="btn btn-primary btn-s">Submit</button>
    </div>

</form>
{% endblock %}